{% extends "base.html" %}

{% block title %}
Social Bookmarking -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Social Bookmarking is a social bookmarking site.</p>
        </header>
        <section>
            {% if new_bookmarks %}
            <ul>
                {% for bm in new_bookmarks %}
                    <li>{{ bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                No bookmarks yet.
            {% endif %}
        </section>
        <section>
            <h2>Article Section</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales</p>
        </section>
    </article>
{% endblock %}